<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new | MillysApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"
          href="/webjars/bootstrap/4.4.1-1/css/bootstrap-grid.min.css"/>
    <link rel="stylesheet" th:href="@{css/styles.css}"/>
</head>
<body class="indexBody">
<div class="container mt-3">
    <p class="lead text-left site-text ml-3">Add a new skunk breed</p>
    <hr class="my-4">
    <br>
</div>












<div th:insert="fragments/footer :: footer">...</div>

<script th:src="@{webjars/jquery/3.4.1/jquery.min.js}" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script th:src="@{webjars/popper.js/1.15.0/umd/popper.min.js}" src="/webjars/popper.js/1.15.0/umd/popper.min.js"></script>
<script th:src="@{webjars/bootstrap/4.4.1-1/js/bootstrap.js}" src="/webjars/bootstrap/4.4.1-1/js/bootstrap.js"></script>
<script th:src="@{js/scripts.js}"></script>

</body>
</html>