<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index | MillysApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"
          href="/webjars/bootstrap/4.4.1-1/css/bootstrap-grid.min.css"/>
    <link rel="stylesheet" th:href="@{css/styles.css}"/>
</head>
<body class="indexBody">

<div class="container mt-3">
<!--    <a class="navbar-brand text-center" href="/index" th:href="@{/}" style="width:20%;">-->
<!--        <img src="img/skunkworks.png" th:src="@{img/skunkworks.png}"  width="210" height="65" alt="logotitle">-->
<!--    </a>-->
    <p class="lead text-left site-text ml-3" >Welcome to the Skunk World</p>
    <hr class="my-4">
</div>
<div class="container">
    <div class="row">
    <div class="row col-2 h-50 mt-4">
        <a type="button" class="d-inline-block btn btn-outline-dark" href="#" th:href="@{/skunks}">Add new</a>
    </div>
    <div class="row col-10">
        <div class="dropdown mt-4">
            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span th:text="${datasource}"> Choose datasource </span>
            </button>
            <div class="dropdown-menu indexDropdown" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#"
                   th:each="option : ${T(com.millysapp.enums.DatabaseEnum).values()}"
                   th:text="${option.displayName}"
                   th:href="@{/index(database=${option.displayName})}"
                >Action</a>
            </div>
        </div>

    </div>
    </div>
</div>


<div class="container mt-3">
    <table class="table table-sm">
        <thead class="justify-content-center align-items-center text-center" style="width: 100%;">
        <tr class="row" style="color:white; background-color: rgba(105,105,105, 0.4); ">
            <th class="col">Name</th>
            <th class="col">Color</th>
            <th class="col">Size</th>
            <th class="col">Weight</th>
            <th class="col">Is Omnivorous</th>
            <th class="col">Family</th>
            <th class="col">Edit</th>
        </tr>
        </thead>
        <tbody class="justify-content-center align-items-center text-center"  style="width: 100%;">
        <tr class="row" th:each="skunk : ${skunks}">
            <td class="col"><p th:text="${skunk.name}">project</p></td>
            <td class="col" th:text="${skunk.color}"></td>
            <td class="col" th:text="${skunk.size}"></td>
            <td class="col" th:text="${skunk.weight}"></td>
            <td class="col"><p th:text="${skunk.omnivorous}"> </p></td>
            <td class="col" th:text="${skunk.familyName}"></td>
            <td class="col">
                <a href="#" th:href="@{'/skunks/'+ ${datasource} + '/' + ${skunk.getSkunkId()} + '/'} "
                >
                    <strong> Update</strong>
                </a>
                <strong >|</strong>
                <a class="deleteSkunkBtn"
                   data-target="#indexPageModal"
                   data-toggle="modal"
                   href="#indexPageModal"
                   th:attr="data-skunk=${skunk.getSkunkId()},data-datasource=${datasource},data-skunkName=${skunk.name}"
                >
                    <strong> Delete</strong>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>







<div th:insert="fragments/footer :: footer">...</div>


<!-- Modal -->
<div class="modal fade" id="indexPageModal" tabindex="-1" role="dialog" aria-labelledby="indexPageModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="indexPageModalTitle">Skunk</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="indexPageModalBody">
                <p class="text-center"></p>
                <h5></h5>
                <div>
                    <div class="form-check form-check-inline checkboxes" >
                        <input class="form-check-input" type="checkbox" name="checkboxes" id="checkbox1" value="option1" th:value="''">
                        <label class="form-check-label" for="checkbox1" th:text="''">
                            Default checkbox
                        </label>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
                    <a type="button" class="btn btn-dark ml-3" id="deleteSkunkModalBtn" href="#">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script th:src="@{webjars/jquery/3.4.1/jquery.min.js}" ></script>
<script th:src="@{webjars/popper.js/1.15.0/umd/popper.min.js}" ></script>
<script th:src="@{webjars/bootstrap/4.4.1-1/js/bootstrap.js}" ></script>
<script th:src="@{js/scripts.js}"></script>
</body>
</html>